
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

/* Base styles */
body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-900 antialiased;
}
